img{
    max-width: 100%;
}

.App{
    overflow-x: hidden;
}

.spinner-container{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: #fff;
}

.spinner-border{
    width: 70px;
    height: 70px;
}

.top-arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 46px;
    z-index: 99;
    text-align: center;
    transition: all .4s ease-out 0s;
    color: #fff;
    background-color: #eb3656;
  }

  .top-arrow:hover{
      background-color: #fff;
      color: #eb3656;
  }

  .hide{
      display: none !important;
  }